/* ------------------------------------------------
  Project:   Reincon - Construction WordPress Theme
  Author:    ThemeHt
------------------------------------------------ */

/* ------------------------
    Table of Contents

  1. Section Title
  2. Button
  3. Marquee Text
  4. Accordion
  5. Social Icons
  6. Team
  7. Tab
  8. Counter
  9. Blog - Post
  10. Featured Box
  11. Testimonials
  12. Service Box
  13. Price Table   
  14. Progress Bar
  15. Portfolio Item
  16. Swiper Arrow
  17. Swiper Dot Pagination
  18. Awards
  19. Timeline
  20. Splitting Text
  21. Image Reavel Animation
  22. Split Slider
  23. Video
  24. Keyframes Animation


/* ------------------------
    Section Title
------------------------*/
.theme-title{margin-bottom: 50px}
.theme-title h6 { position: relative; padding-left: 25px; font-family: var(--themeht-typography-body-font-family); margin-bottom: 10px; text-transform: uppercase; color: var(--themeht-secondary-color); font-weight: 600; font-size: 14px; display: inline-block; line-height: 1; }
.theme-title p { font-size: 16px; margin-bottom: 0; font-weight: 500; line-height: 30px; }
.dark-bg h2 { color: var(--themeht-white-color) }
.theme-title h2 { margin-bottom: 0; }
.theme-title h6:after, .theme-title h6:before { content: ""; position: absolute; top: 50%; width: 10px; height: 10px; transform: translateY(-50%); background: var(--themeht-secondary-color); left: 0; border-radius: 50%; }
.theme-title h6:after { left: 9px; background: var(--themeht-primary-color); }
.dark-bg .theme-title h6, .secondary-bg .theme-title h6 { color: var(--themeht-primary-color); }
.dark-bg .theme-title h6:before, .secondary-bg .theme-title h6:before { background: var(--themeht-white-color); }


/* ------------------------
    Button
------------------------*/
.themeht-btn { padding: 10px 30px; position: relative; border: 0; z-index: 9; display: inline-block; cursor: pointer; outline: none; text-decoration: none; font-size: 14px; text-transform: uppercase; font-weight: 600; }
.white-btn, a.white-btn { background: var(--themeht-white-color); color: var(--themeht-text-color); }
.white-btn:hover, a.white-btn:hover { background: var(--themeht-primary-color); color: var(--themeht-secondary-color); }
.primary-btn, a.primary-btn { background: var(--themeht-primary-color); color: var(--themeht-secondary-color); }
.primary-btn:hover, a.primary-btn:hover { background: var(--themeht-secondary-color); color: var(--themeht-primary-color); }
.dark-btn, a.dark-btn { background: var(--themeht-secondary-color); color: var(--themeht-white-color); }
.dark-btn:hover, a.dark-btn:hover { background: var(--themeht-primary-color); color: var(--themeht-secondary-color); }
.primary-bg .dark-btn:hover, .primary-bg a.dark-btn:hover { background: var(--themeht-secondary-color); color: var(--themeht-primary-color); }
.themeht-btn.outline-btn { border: 1px solid var(--themeht-secondary-color); color: var(--themeht-text-color); }
.themeht-btn.outline-btn:hover { background: var(--themeht-primary-color); border-color: var(--themeht-primary-color); color: var(--themeht-secondary-color); }
.themeht-btn svg { margin-left: 10px; }
.themeht-btn svg line { stroke-width: 2; stroke-miterlimit: 10; stroke: var(--themeht-text-color); }
.themeht-btn.dark-btn svg line { stroke: var(--themeht-white-color); }
.themeht-btn.primary-btn svg line { stroke: var(--themeht-secondary-color); }
.themeht-btn:hover svg line { stroke-dasharray: 20px; stroke-dashoffset: 40px; transition: stroke-dashoffset .6s cubic-bezier(.61, 1, .88, 1) .3s; stroke: var(--themeht-secondary-color); }
.themeht-btn.primary-btn:hover svg line, .primary-bg .dark-btn:hover svg line { stroke: var(--themeht-primary-color); }
.themeht-btn span { -webkit-transition: all 0s ease-in-out 0s; -moz-transition: all 0s ease-in-out 0s; -ms-transition: all 0s ease-in-out 0s; -o-transition: all 0s ease-in-out 0s; transition: all 0s ease-in-out 0s; }

.read-button { padding: 15px; position: relative; display: inline-block; }
.arrow-btn, .arrow-btn-text, .arrow-btn-circle { position: absolute; }
.arrow-btn { top: 0; left: 0; height: 100%; border-radius: 100%; width: 100%; box-shadow: 0 0 1px 1px var(--themeht-text-color); transition: 0.3s linear; }
.arrow-btn-circle { top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0); width: 40px; height: 40px; border-radius: 100%; background: var(--themeht-primary-color); display: flex; transition: 0.3s ease-in-out; }
.arrow-btn-circle svg { width: 24px; height: 24px; margin: auto; }
.arrow-btn-text { top: 50%; transform: translateY(-50%); white-space: nowrap; z-index: 2; transition: 0.3s linear; background: var(--themeht-white-color); color: var(--themeht-text-color); font-size: 16px; text-transform: uppercase; font-weight: 600; }
.read-button:hover .arrow-btn { transform: scale(0); }
.read-button:hover .arrow-btn-circle { transform: translate(-50%, -50%) scale(1); }
.read-button:hover .arrow-btn-text { transform: translate(30px, -50%); }


/* ------------------------
 Marquee Text
------------------------*/
.marquee-section { padding: 30px 0; background-color: var(--themeht-white-color); -webkit-transform: rotate(-0.8deg); -ms-transform: rotate(-0.8deg); transform: rotate(-0.8deg); }
.marquee-wrap { animation: marquee 50s linear infinite; width: 100%; position: relative; white-space: nowrap; }
.marquee-wrap, .marquee-title { display: flex; justify-content: center; }
.marquee-text { font-family: var(--themeht-typography-secondary-font-family); position: relative; display: flex; align-items: center; font-size: 30px; white-space: nowrap; line-height: 1; font-weight: 500; color: var(--themeht-text-color); text-transform: uppercase; }
.marquee-text i { margin: 0 40px; font-size: 30px; line-height: 1; }
.marquee-img-swiper > .swiper-wrapper, .marquee-swiper > .swiper-wrapper { transition-timing-function: linear; }
.popup-img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 40px; background: var(--themeht-white-color); width: 80px; height: 80px; display: flex; align-items: center; justify-content: center; line-height: 1; color: var(--themeht-text-color); opacity: 0; }
.marquee-img-box:hover .popup-img { opacity: 1; }
.marquee-section.style3 { padding: 0; background-color: inherit; -webkit-transform: inherit; -ms-transform: inherit; transform: inherit; }
.marquee-section.style3 .marquee-text { font-size: 100px; font-weight: 800; }
.marquee-section.style3 .marquee-text i { font-size: 40px; animation: rotate 10s linear infinite; }
.header-marquee .marquee-section { padding: 15px 0; background-color: var(--themeht-primary-color); -webkit-transform: inherit; -ms-transform: inherit; transform: inherit; }
.header-marquee .marquee-wrap { animation: marquee 100s linear infinite; }
.header-marquee .marquee-text { font-size: 16px; font-weight: 500; color: var(--themeht-secondary-color); text-transform: capitalize; }
.header-marquee .marquee-text i { margin: 0 30px; font-size: 18px; line-height: 1; color: var(--themeht-secondary-color); }
    

/* ------------------------
    Accordion
------------------------*/
.accordion-item { border: none; border-radius: 0 !important; border-bottom: 1px solid var(--themeht-border-light-color); padding-bottom: 20px; background: none; }
.accordion-header { line-height: 0; }
.accordion .accordion-button { border: none; padding: 0; padding-right: 50px; border-radius: 0 !important; background: none; font-weight: 500; font-size: 20px; line-height: 26px; color: var(--themeht-text-color); text-transform: capitalize; display: inline-block; width: 100%; }
.accordion-button:hover, .accordion-button:not(.collapsed) { color: var(--themeht-secondary-color); box-shadow: none; }
.accordion .accordion-body { padding: 20px 0 0; color: var(--themeht-body-color); }
.accordion .accordion-button:before, .accordion .accordion-button:after { content: ''; position: absolute; width: 20px; height: 2px; background: var(--themeht-text-color); top: 50%; right: 0; -webkit-transform: translate(-50%); transform: translate(-50%) }
.accordion .accordion-button:before { -webkit-transform: translate(-50%) rotate(90deg); transform: translate(-50%) rotate(90deg) }
.accordion .accordion-button[aria-expanded="true"]:before, .accordion-button:hover:before { -webkit-transform: translate(-50%) rotate(0deg); transform: translate(-50%) rotate(0deg) }
.accordion .accordion-button[aria-expanded="true"]:after, .accordion .accordion-button[aria-expanded="true"]:before, .accordion-button:hover:after, .accordion-button:hover:before { background: var(--themeht-secondary-color) !important; }
.accordion-button:focus { box-shadow: none; }


/* ------------------------
    Social Icons
------------------------*/
.social-icons ul { padding: 0; margin: 0; line-height: 0; }
.social-icons li { display: inline-block; list-style: none; padding: 0; margin: 0 8px 0 0; }
.social-icons li a { display: inline-block; height: 40px; width: 40px; line-height: 40px; font-size: 14px; text-align: center; margin: 0; border: 0; background: transparent; color: var(--themeht-text-color); -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }


/* ------------------------
    Team
------------------------*/
.team-member{margin: 1px; }
.team-images{position: relative; overflow: hidden;}
.team-member .team-desc { padding: 20px; border-left: 1px solid var(--themeht-border-light-color); border-right: 1px solid var(--themeht-border-light-color); }
.team-member .team-desc h4 { margin-bottom: 5px; }
.team-member .team-desc h4 a { color: var(--themeht-text-color); display: inline; position: relative; width: 100%; background-repeat: no-repeat; background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px); transition: .9s cubic-bezier(.32, .32, .15, 1.17); background-size: 0 100%; }
.team-member .team-desc a:hover { color: var(--themeht-secondary-color); background-size: 100% 100%; }
.team-member .team-desc span { color: var(--themeht-body-color); font-weight: 500; font-size: 12px; text-transform: uppercase; }
.team-member img { width: 100%; }
.team-footer { display: flex; justify-content: space-between; border: 1px solid var(--themeht-border-light-color); }
.team-footer .team-footer-cntnt i { width: 50px; height: 50px; display: inline-block; background: var(--themeht-secondary-color); color: var(--themeht-primary-color); line-height: 50px; text-align: center; font-size: 20px; margin-right: 20px; }
.team-social-icon li { display: inline-block; margin: 0; }
.team-social-icon li a { height: 50px; width: 45px; display: flex; align-items: center; justify-content: center; border-left: 1px solid var(--themeht-border-light-color); }
.team-social-icon li a:hover { background: var(--themeht-secondary-color); color: var(--themeht-primary-color); }
.team-contact { padding-top: 30px; }
.team-meta li { margin-bottom: 20px; display: flex; align-items: center; }
.team-meta li i { font-size: 20px; color: var(--themeht-text-color); vertical-align: middle; margin-right: 15px; }
.team-meta li span { margin-right: 10px; font-weight: 500; color: var(--themeht-text-color); }
.team-contact .team-social-icon { position: inherit; bottom: inherit; right: inherit; -webkit-transform: inherit; -ms-transform: inherit; transform: inherit; display: inline-block; border: 1px solid var(--themeht-border-light-color); }


/* ------------------------
    Tab
------------------------*/
.tab-list ul { padding: 0; margin: 0; }
.tab-list li { position: relative; list-style-type: none; padding-left: 30px; margin-bottom: 10px; }
.tab-list li:last-child { margin-bottom: 0; }
.tab-list li:before { position: absolute; left: 0; top: 3px; font-family: 'bootstrap-icons'; content: "\f272"; color: var(--themeht-text-color); font-size: 16px; line-height: 1; background: var(--themeht-primary-color); width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; border-radius: 50%; }


/* ------------------------
    Tab
------------------------*/
.tab .nav-tabs{border:none; padding: 20px; background: var(--themeht-bg-light-color);}
.tab .nav-tabs .nav-link{ background: var(--themeht-white-color); border-radius: 0; font-size: 18px; font-weight: 600; text-transform: capitalize; color: var(--themeht-text-color); position: relative; display: inline-block; border:none; padding:10px 40px;}
.tab .nav-tabs .nav-link:last-child{margin-right: 0;}
.tab .nav-tabs .nav-link.active, .tab .nav-tabs .nav-link:hover, .tab .nav-tabs.active > a:focus, .tab .nav-tabs > a:hover{background: var(--themeht-secondary-color); color: var(--themeht-primary-color);}
.tab .tab-content{padding: 30px;}


/* ------------------------
    Counter
------------------------*/
.counter { position: relative; z-index: 9; }
.counter .counter-desc span { font-size: 60px; line-height: 1; color: var(--themeht-secondary-color); display: inline-block; vertical-align: middle; font-weight: 700; }
.counter .counter-desc .count-number + span { position: relative; }
.counter h6 { font-size: 16px; font-family: var(--themeht-typography-body-font-family); display: inline-block; margin-top: 10px; margin-bottom: 0; text-transform: uppercase; }
.counter-icon i { font-size: 50px; line-height: 1; display: inline-block; color: var(--themeht-text-color); margin-bottom: 20px; }
.counter-text { display: flex; align-items: flex-end; justify-content: space-between; border-bottom: 1px solid var(--themeht-text-color); padding-bottom: 10px; margin-bottom: 10px; }
.counter.style-2 .counter-desc span { font-size: 100px; }
.counter.style-2 h6 { margin-top: 0; }
.counter.style-2 .counter-text span { font-size: 16px; }
.counter.style-3 .counter-desc span { font-size: 100px; color: #1a3256; font-weight: 700; }
.counter.style-3 h6 { color: var(--themeht-white-color); position: absolute; top: 50%; left: 0; width: 100%; text-align: center; margin: 0; transform: translateY(-50%); }


/* ------------------------
    Blog - Post
------------------------*/
.post-card { position: relative; display: inline-block; width: 100%; border: 1px solid var(--themeht-border-light-color); }
.post-single-page .post-card{border: none;}
.post-card .post-image { position: relative; }
.post-card .post-image img { width: 100%; }
.post-card .post-title h4 { text-transform: capitalize; word-break: break-word; }
.post-card .post-title h4 a { color: var(--themeht-text-color); display: inline; position: relative; width: 100%; background-repeat: no-repeat; background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px); transition: .9s cubic-bezier(.32, .32, .15, 1.17); background-size: 0 100%; }
.post-card .post-title h4 a:hover { background-size: 100% 100%; }
.post-card .post-bottom li { color: var(--themeht-text-color); font-weight: 500; font-size: 14px; text-transform: uppercase; position: relative;}
.post-card .post-bottom li + li:before { display: inline-block; padding-right: 0.3rem; color: var(--themeht-body-color); font-family: 'bootstrap-icons'; content: "\F309"; padding-left: 0.2rem; font-size: 24px; vertical-align: middle; }
.post-card .post-bottom .list-inline-item:not(:last-child) { margin-right: 0; }
.post-bottom li i { font-size: 16px; color: var(--themeht-text-color); margin-right: 5px; vertical-align: middle; }
.post-card .post-bottom li span { display: inline; }
.post-single-page .post-desc h1, .portfolio-single h1 { line-height: 70px; font-size: 60px; margin-bottom: 20px; word-break: break-all; }
.post-card.style-1 .post-desc, .post-card.post-classic .post-desc { padding: 30px; }
.post-card.style-1 { margin-top: 50px; margin-left: 1px; }
.post-card.style-1 .post-image { position: relative; padding-right: 80px; margin-top: -50px; }
.post-card.style-1 .post-date { position: absolute; top: 160px; right: -60px; transform: rotate(-90deg); color: var(--themeht-secondary-color); padding: 10px; text-transform: uppercase; font-weight: 600; font-family: var(--themeht-typography-secondary-font-family); }
.post-card.style-1 .post-date i { margin-right: 8px; font-size: 18px; }
.post-card.style-1 .post-date a { color: var(--themeht-secondary-color); }

.post-single-page .post-card { border: none; }
.post-single-page .post-card .post-desc { padding-top: 30px; }
.themeht-blogs .post-card { margin-bottom: 80px; }

.pagination{display: inline-block;}
.pagination > li{margin: 0 3px; display: inline-block;}
.pagination > li > a, .pagination > li > span{font-size: 18px; width: 40px; height: 40px; line-height: 40px; padding: 0; text-align: center; color: var(--themeht-text-color); font-weight: 500; border-radius: 0 !important; border-color: var(--themeht-border-light-color)}
.pagination > li.active .page-link, .page-link:hover, .page-link:focus{box-shadow: none; background: var(--themeht-primary-color); color: var(--themeht-secondary-color); border-color: var(--themeht-primary-color)}


/* ---- Sidebar Widget ----*/
.themeht-sidebar { padding: 30px; margin-left: 50px; background: var(--themeht-white-color); box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07); }
.themeht-sidebar.left-side{margin-left: 0; margin-right: 50px;}

/*Widget-Title*/
.widget{margin-bottom: 50px}
.widget:last-child{margin-bottom: 0}
.widget-title { position: relative; color: var(--themeht-text-color); font-size: 24px; line-height: 34px; display: block; margin-bottom: 20px; font-weight: 500; border-bottom: 1px solid var(--themeht-border-light-color); padding-bottom: 15px !important; }
.widget-title:before{ content: ""; height: 3px; width: 100px; background-color: var(--themeht-secondary-color); position: absolute; transition: all 0.6s; bottom: -2px; left: 0; }

/*Widget-Search*/
.widget-searchbox{position: relative; width: 100%;}
.widget-searchbox .search-btn {background: none; border: none; color: var(--themeht-text-color); font-size: 20px; outline: medium none; overflow: hidden; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); cursor: pointer;}
.widget-searchbox .search-btn:hover{color: var(--themeht-primary-color)}


/*Recent Post*/
.recent-post li{display: flex; align-items: center;}
.widget .recent-post-thumb{width: 100px; overflow: hidden; flex-shrink: 0;}
.widget .recent-post-desc{padding-left: 15px;}
.widget .recent-post-desc a { font-weight: 500; color: var(--themeht-text-color); font-size: 16px; line-height: 26px; display: inline; position: relative; width: 100%; background-repeat: no-repeat; background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px); transition: .9s cubic-bezier(.32, .32, .15, 1.17); background-size: 0 100%; }
.widget .recent-post-desc a:hover { color: var(--themeht-secondary-color); background-size: 100% 100%; }
.widget .recent-post-desc .post-date { font-size: 15px; }

/*widget-Categories*/ 
.widget .widget-categories li {display: block; padding: 15px 0; border-bottom: 1px dashed var(--themeht-border-light-color); position: relative;}
.widget .widget-categories li:first-child{padding-top: 0;}
.widget .widget-categories li:last-child{padding-bottom: 0; border-bottom: none;}
.widget .widget-categories li a {text-transform: capitalize; font-weight: 500; font-size: 16px; line-height: 26px; color: var(--themeht-text-color); display: flex; justify-content: space-between;}
.widget .widget-categories li a:hover {color: var(--themeht-secondary-color); padding-left: 5px;}
.widget-categories li i {position: absolute; right: 0; }

/*widget-tags*/ 
.widget .widget-tags li {display: inline-block; margin: 5px 5px 15px 0;}
.widget .widget-tags li a {font-size: 16px; line-height: 26px; font-weight: 500; text-transform: capitalize; background: var(--themeht-bg-light-color); color: var(--themeht-text-color); padding: 5px 15px; display: inline-block; text-align: center;}
.widget .widget-tags li a:hover{background: var(--themeht-primary-color); color: var(secondary);}

/*post-tags*/ 
.post-tags li {display: inline-block; margin: 5px 5px 15px 0;}
.post-tags li a {background: var(--themeht-bg-light-color); border-radius: 30px; color: var(--themeht-text-color); padding: 5px 15px; display: inline-block; text-align: center; font-weight: normal;}
.post-tags li a:hover{background: var(--themeht-primary-color); color: var(--themeht-white-color);}

blockquote { text-align: center; color: var(--themeht-secondary-color); background-color: var(--themeht-primary-color); padding: 40px; font-size: 24px; line-height: 30px; position: relative; }
blockquote span { color: var(--themeht-secondary-color); margin-top: 10px; display: block; text-decoration: underline; font-family: var(--themeht-typography-secondary-font-family); font-size: 18px; font-weight: 600; }
blockquote i { font-size: 60px; color: var(--themeht-secondary-color); line-height: 1; margin-bottom: 20px; display: inline-block; }

.post-comment .comments-title, .post-comment .comment-reply-title { font-size: 34px; line-height: 44px; margin-bottom: 30px; }
.post-comment li { display: flex; align-items: flex-start; margin-bottom: 50px; border-bottom: 1px solid var(--themeht-border-light-color); padding-bottom: 50px; position: relative; }
.post-comment li:last-child { margin-bottom: 0; border-bottom: none; padding-bottom: 0; }
.author-img { flex-shrink: 0; width: 100px; margin-right: 30px; }
.comment-date { color: var(--themeht-secondary-color); }
.comments-body p { margin: 15px 0 0; }
.comment-reply-link, .comment-reply-link:focus, .comment-reply-link:visited, .comment-reply-link:active { font-size: 18px; border: 1px solid transparent; position: relative; text-transform: capitalize; padding: 5px 20px 5px 40px; background: var(--themeht-secondary-color); color: var(--themeht-primary-color); display: inline-block; }
.comment-reply-link:hover { background: var(--themeht-primary-color); color: var(--themeht-secondary-color); }
.comment-reply-link:before { content: '\f520'; font-family: 'bootstrap-icons'; font-size: 20px; position: absolute; left: 14px; top: 5px; }

/* ------------------------
    Featured Box
------------------------*/
.featured-item.style-1 { position: relative; padding: 40px 25px; border: 1px solid var(--themeht-border-light-color);}
.featured-item.style-1:hover { border-color: var(--themeht-secondary-color);}
.featured-item.style-1 .featured-icon { display: inline-block; margin-bottom: 10px; overflow: hidden; }
.featured-item.style-1 .featured-icon i { font-size: 70px; line-height: 70px; color: var(--themeht-text-color); display: inline-block; }
.featured-item.style-1:hover .featured-icon i { transform: rotate(360deg);}
.featured-item.style-1 .featured-title h5 { margin-bottom: 10px; }
.featured-item p { margin-bottom: 0; }
.featured-icon svg { width: 70px; height: 70px; }

.light-bg .featured-item.style-1{padding: 40px; background: var(--themeht-white-color); border-color: var(--themeht-white-color);}

.featured-item.style-2 { position: relative; display: flex; align-items: flex-start; z-index: 9; }
.featured-item.style-2 .featured-icon { margin-right: 20px; font-size: 80px; line-height: 1; color: var(--themeht-text-color); display: inline-block; }
.featured-item.style-2 .featured-title h5 { margin-bottom: 10px; }

.featured-item.style-3 { padding: 40px; position: relative; }
.featured-item.style-3 .featured-icon { margin-right: 20px; font-size: 80px; line-height: 1; color: var(--themeht-text-color); display: inline-block; }
.featured-item.style-3:hover { box-shadow: 0 20px 60px rgba(92, 107, 149, .15); }
.featured-item.style-3 .featured-top { display: flex; align-items: center; margin-bottom: 20px; }
.featured-item.style-3 h5 { margin-bottom: 0; }
.light-bg .featured-item.style-3{ background: var(--themeht-white-color); }


/* ------------------------
    Testimonials
------------------------*/
.testimonial-marquee .swiper-slide { transform: scale(0.75); transition: 0.3s; }
.testimonial-marquee .swiper-slide.swiper-slide-active { animation-name: elastic1; animation-duration: 0.9s; animation-fill-mode: forwards; animation-timing-function: ease-in-out; }
.testimonial-marquee .swiper-slide.swiper-slide-active { animation-name: elastic1_sp; }
.testimonial-marquee .swiper-slide:nth-child(even) .testimonial { transform: rotate(-5deg); }
.testimonial-marquee .swiper-slide:nth-child(odd) .testimonial { transform: rotate(5deg); }

.testimonial.style-1 { position: relative; box-shadow: 0 25px 70px rgba(0, 0, 0, .07); background: var(--themeht-white-color); margin: 30px; padding: 50px; margin-bottom: 80px; }
.testimonial-content p { font-size: 18px; line-height: 30px; margin: 30px 0; color: var(--themeht-body-color); }
.testimonial-caption { position: relative; display: inline-block; }
.testimonial .testimonial-caption span { color: var(--themeht-body-color); font-weight: 500; font-size: 12px; text-transform: uppercase; display: block; }
.testimonial .testimonial-caption h4 { display: inline-block; margin-bottom: 0; color: var(--themeht-text-color) }
.testimonial-img img { width: 100px; border-radius: 100% !important; height: 100px; }
.testimonial-img { position: relative; margin-right: 25px; margin-top: 25px; display: inline-block; }
.testimonial .testimonial-quote { font-size: 30px; line-height: 1; color: var(--themeht-text-color); top: 0; position: absolute; right: -25px; width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; background: var(--themeht-primary-color); border-radius: 50%; }
.testimonial.style-2 .testimonial-quote { top: inherit; position: inherit; right: inherit; width: 50px; height: 50px; }
.testimonial.style-2 { position: relative; background: var(--themeht-white-color); padding: 40px; }
.testimonial.style-2 .testimonial-author { display: flex; align-items: center; }
.testimonial.style-2 .testimonial-img { margin-right: 15px; margin-top: 0; }
.swiper-slide-active .testimonial.style-2 { background: var(--themeht-secondary-color); }
.swiper-slide-active .testimonial.style-2 .testimonial-content p, .swiper-slide-active .testimonial.style-2 .testimonial-caption h4, .swiper-slide-active .testimonial.style-2 .testimonial-caption span { color: var(--themeht-white-color); }


/* ------------------------
    Service Box
------------------------*/
.service-title h4 { text-transform: capitalize; margin-bottom: 0; }
.service-item .service-title h4 a { color: var(--themeht-text-color); display: inline; position: relative; width: 100%; background-repeat: no-repeat; background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px); transition: .9s cubic-bezier(.32, .32, .15, 1.17); background-size: 0 100%; }
.service-item .service-title h4 a:hover { color: var(--themeht-secondary-color); background-size: 100% 100%; }
.arrow-button { font-size: 70px; color: transparent; -webkit-text-stroke: 1px black; transform: rotate(-45deg); line-height: 1; }
  
.service-item.style-1 { background: var(--themeht-white-color); box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07); padding: 80px 35px 40px; position: relative; transform-style: preserve-3d; overflow: hidden; }
.service-item.style-1:hover { transform: scale(1.08) translateZ(0); }
.service-item.style-1 .service-desc { position: relative; z-index: 9; }
.service-item.style-1 .service-num { color: var(--themeht-text-color); font-family: var(--themeht-typography-secondary-font-family); font-size: 18px; line-height: 1; display: inline-block; position: absolute; top: 0; right: 0; background: var(--themeht-bg-light-color); padding: 12px; z-index: 9; }
.service-item.style-1 .service-desc p { display: -webkit-box; -webkit-line-clamp: 3; overflow: hidden; -webkit-box-orient: vertical; }
.service-item.style-1 .service-image { -webkit-transition: all 0.8s ease-in-out; -moz-transition: all 0.8s ease-in-out; -ms-transition: all 0.8s ease-in-out; -o-transition: all 0.8s ease-in-out; transition: all 0.8s ease-in-out; transform-style: preserve-3d; transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg); position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.service-item.style-1:hover .service-image { transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); }
.service-item.style-1 .service-icon { font-size: 80px; line-height: 1; color: var(--themeht-text-color); z-index: 9; }
.service-item.style-1 .service-title { margin-top: 30px; }
.service-item.style-1 .service-title h4 { margin-bottom: 20px; }
.service-item.style-1:after { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); position: absolute; top: 0%; left: 0%; right: 0%; content: ''; opacity: 0; transform-style: preserve-3d; transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg); -webkit-transition: all 0.8s ease-in-out; -moz-transition: all 0.8s ease-in-out; -ms-transition: all 0.8s ease-in-out; -o-transition: all 0.8s ease-in-out; transition: all 0.8s ease-in-out; }
.service-item.style-1:hover:after { transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0) skew(0deg); opacity: 1; }
.service-item.style-1:hover .service-title h4 a, .service-item.style-1:hover p { color: var(--themeht-white-color); -webkit-transition: all 10s ease-in-out; -moz-transition: all 0.8s ease-in-out; -ms-transition: all 0.8s ease-in-out; -o-transition: all 0.8s ease-in-out; transition: all 0.8s ease-in-out; }
.service-item.style-1:hover .service-icon { color: var(--themeht-primary-color); -webkit-transition: all 10s ease-in-out; -moz-transition: all 0.8s ease-in-out; -ms-transition: all 0.8s ease-in-out; -o-transition: all 0.8s ease-in-out; transition: all 0.8s ease-in-out; }
.service-item.style-1 .service-title h4 a:hover { color: var(--themeht-primary-color); }
.service-item.style-1:hover .arrow-btn { box-shadow: 0 0 1px 1px var(--themeht-white-color); }
.service-item.style-1:hover .arrow-btn-text { background: transparent; color: var(--themeht-white-color); }
.service-item.style-1:hover .service-num { background: var(--themeht-primary-color); top: 15px; right: 15px;}

.service-item.style-2 { border-bottom: 1px solid var(--themeht-border-light-color); border-right: 1px solid var(--themeht-border-light-color); }
.service-item.style-2:last-child { border-bottom: none; }
.service-list { position: relative; overflow: hidden; padding-right: 50%; border: 1px solid var(--themeht-border-light-color); }
.service-list .service-item.style-2 .service-image { position: absolute; will-change: transform; -webkit-backface-visibility: hidden; backface-visibility: hidden; -o-object-fit: cover; object-fit: cover; -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); transition: .6s cubic-bezier(1, 0, .25, .995); opacity: 0; top: 5%; right: 2.5%; width: 45%; height: 90%; }
.service-list .service-item.style-2 .service-image .service-img-inner { width: 100%; height: 100%; }
.service-list .service-item.style-2.active .service-image { z-index: 1; transform: translateX(0); -webkit-transform: translateX(0); transition-duration: 1s; -webkit-transition-duration: 1s; transition-timing-function: cubic-bezier(.19, 1, .22, 1); -webkit-transition-timing-function: cubic-bezier(.19, 1, .22, 1); opacity: 1; }
.service-item.style-2 .service-desc { display: flex; justify-content: space-between; }
.service-item.style-2 .service-title h4 { font-size: 28px; line-height: 38px; padding: 30px; }
.service-item.style-2 .service-icon { color: var(--themeht-text-color); font-size: 50px; line-height: 1; width: 100px; display: flex; align-items: center; flex-shrink: 0; justify-content: center; font-weight: 700; border-right: 1px solid var(--themeht-border-light-color); }
.service-list .service-item.style-2.active .service-icon { background: var(--themeht-primary-color); color: var(--themeht-secondary-color); }
.service-list .service-item.style-2.active .service-title h4 a { color: var(--themeht-primary-color); }
.service-list .service-item.style-2.active { background: var(--themeht-secondary-color) }

.service-item.style-3 .service-image { overflow: hidden; position: relative; }
.service-item.style-3 .service-icon { background: var(--themeht-secondary-color); padding: 10px; font-size: 50px; line-height: 1; display: inline-block; margin-right: 20px; color: var(--themeht-primary-color); }
.service-item.style-3 .service-title h4 { margin-bottom: 0; }
.service-item.style-3 .service-desc { overflow: hidden; background-color: var(--themeht-white-color); box-shadow: 0 20px 60px rgba(92, 107, 149, .15); padding: 30px; position: relative; z-index: 9; display: flex; align-items: flex-start; width: 90%; margin: -62px auto 0; }
.service-item.style-3 .service-image:after { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); position: absolute; top: -100%; left: 0%; content: ''; opacity: 0; }
.service-item.style-3:hover .service-image:after { opacity: 1; top: 0%; }
.service-item.style-3 .service-desc:after { z-index: -1; width: 100%; height: 100%; background: var(--themeht-primary-color); position: absolute; top: -100%; left: 0%; content: ''; opacity: 0; }
.service-item.style-3:hover .service-desc:after { opacity: 1; top: 0%; }

/*Service Sidebar*/
.service-page-sidebar { margin-right: 30px; }
.service-widget { margin-bottom: 50px; background-color: var(--themeht-white-color); background: var(--themeht-white-color); box-shadow: 0 25px 70px rgba(0, 0, 0, 0.07); padding: 30px; }
.service-widget:last-child { margin-bottom: 0;}
.service-widget ul { padding-left: 0; }
.service-widget li { list-style-type: none; }
.service-widget li:last-child { margin-bottom: 0; }
.service-widget .service-menu li a { color: var(--themeht-text-color); display: block; font-size: 18px; padding: 15px 20px; font-weight: 500; position: relative; overflow: hidden; border-bottom: 1px solid var(--themeht-border-light-color); padding-left: 0; }
.service-widget .service-menu li.active a, .service-widget .service-menu li:hover a { background-color: var(--themeht-secondary-color); color: var(--themeht-primary-color); padding-left: 30px; }
.service-widget .service-menu li a:before, .service-widget .service-menu li a:after { position: absolute; top: 0; left: -50px; font-family: 'bootstrap-icons'; content: "\F135"; font-size: 18px; display: flex; z-index: 99; height: 100%; color: var(--themeht-text-color); justify-content: center; align-items: center; }
.service-widget .service-menu li a:after { left: auto; right: 0; }
.service-widget .service-menu li a:hover:before, .service-widget .service-menu li.active a:before { opacity: 1; left: 10px; color: var(--themeht-primary-color); }
.service-widget .service-menu li a:hover:after, .service-widget .service-menu li.active a:after { opacity: 1; right: -50px; }
.service-contact h3, .service-contact p { color: var(--themeht-white-color); }
.contact-widget { padding: 50px 30px; position: relative; z-index: 9; }
.contact-widget:after { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); position: absolute; top: 0; left: 0; content: ''; z-index: -9; }
.contact-widget h5, .contact-widget p { color: var(--themeht-white-color); }


/* ------------------------
    Price Table
------------------------*/
.price-table { padding: 50px; position: relative; z-index: 9; box-shadow: 0 20px 60px rgba(92, 107, 149, .15); }
.light-bg .price-table { background: var(--themeht-white-color); }
.price-top p { margin-bottom: 0; font-weight: 500; font-size: 18px; color: var(--themeht-text-color); }
.price-value { border-top: 1px solid var(--themeht-secondary-color); padding-top: 30px; margin-bottom: 40px; }
.price-value h2 { font-size: 70px; line-height: 1; margin-bottom: 0; position: relative; display: inline-block; color: var(--themeht-text-color); font-weight: 600; }
.price-value span { font-size: 18px; line-height: 18px; }
.price-list { margin: 30px 0; }
.price-list ul li { position: relative; padding: 10px 0; }
.price-list li i { color: var(--themeht-text-color); font-size: 16px; position: relative; display: inline-block; line-height: 1; margin-right: 5px; }
.price-table .themeht-btn { display: block; text-align: center; }


/* ------------------------
    Progress Bar
------------------------*/
.ht-progress-bar {margin-bottom: 20px;}
.ht-progress-bar:last-child {margin-bottom: 0;}
.ht-progress-bar h4 { font-size: 16px; margin-bottom: 5px}
.ht-progress-bar .progress {height: 7px; background: var(--themeht-secondary-color); overflow: visible; border-radius: 0; padding: 1px;}
.ht-progress-bar .progress .progress-bar {background-color: var(--themeht-primary-color); position: relative; overflow: visible; border-radius: 0;}
.ht-progress-bar .progress-parcent {position: absolute; top: -37px; right: 0; color: var(--themeht-secondary-color); font-size: 16px; font-weight: 600}


/* ------------------------
    Portfolio Item
------------------------*/
.portfolio-item { position: relative; }
.portfolio-item .portfolio-cat a { color: var(--themeht-body-color); font-weight: 500; font-size: 12px; text-transform: uppercase; font-family: var(--themeht-typography-secondary-font-family); margin-bottom: 10px; }
.portfolio-item .portfolio-cat a:hover { color: var(--themeht-text-color); }
.portfolio-desc { padding-top: 20px; }
.portfolio-item h4 { margin-bottom: 0; }
.portfolio-item .portfolio-title a { color: var(--themeht-text-color); display: inline; position: relative; width: 100%; background-repeat: no-repeat; background-image: linear-gradient(transparent calc(100% - 1px), currentColor 1px); transition: .9s cubic-bezier(.32, .32, .15, 1.17); background-size: 0 100%; }
.portfolio-item .portfolio-title a:hover { background-size: 100% 100%; }
.portfolio-item.style-1 h4 { line-height: 50px; font-size: 40px; }
.portfolio-item.style-1 { border-bottom: 1px solid var(--themeht-border-light-color); padding-bottom: 50px; margin-bottom: 50px; }
.portfolio-list { position: relative; }
.portfolio-img-wrapper { width: 424px; opacity: 0; position: absolute; top: 0%; left: auto; right: 0%; transform-style: preserve-3d; z-index: 9; }
.portfolio-img-shape { width: 290px; height: 285px; background-color: var(--themeht-primary-color); position: absolute; top: -15px; bottom: auto; left: auto; right: 0; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg); transform-style: preserve-3d; z-index: -9; }
.portfolio-list .portfolio-item.style-1.active .portfolio-img-wrapper { opacity: 1; }
.portfolio-item.style-1 .portfolio-desc { position: relative; display: flex; align-items: center; }
.portfolio-name { width: 270px; margin-right: 100px; }
.portfolio-item.style-1 .portfolio-image { transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg); transform-style: preserve-3d; margin-right: 15px; }
.portfolio-list .portfolio-item.style-1.active .portfolio-image { transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); }
.portfolio-list .portfolio-item.style-1.active .portfolio-img-shape { transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); }

.dark-bg .portfolio-item .portfolio-title a { color: rgba(255, 255, 255, .8); }
.dark-bg .portfolio-item .portfolio-title a:hover { color: var(--themeht-primary-color); }
.dark-bg .portfolio-item .portfolio-cat a { color: var(--themeht-primary-color); }
.dark-bg .portfolio-item.style-1 { border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
.dark-bg .portfolio-item.style-1 .arrow-btn { box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2); }
.dark-bg .portfolio-item.style-1 .arrow-btn-text { background: transparent; color: var(--themeht-white-color); }


.portfolio-item.style-2 { overflow: hidden; }
.portfolio-item.style-2 .portfolio-desc { background: var(--themeht-white-color); padding: 20px 30px; position: absolute; bottom: 50px; left: -100%; width: 80%; opacity: 0; z-index: 9; }
.portfolio-item.style-2:hover .portfolio-desc { left: 0%; opacity: 1; }
.portfolio-button { background: var(--themeht-secondary-color); color: var(--themeht-primary-color); width: 50px; height: 50px; display: inline-block; position: absolute; right: -25px; top: 50%; margin-top: -25px; font-size: 28px; text-align: center; line-height: 50px; border-radius: 50%; }
.portfolio-button { color: var(--themeht-white-color) !important; }
.portfolio-item.style-2:after { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); position: absolute; top: 0%; left: 0%; right: 0%; content: ''; opacity: 0; transform-style: preserve-3d; transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 0) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg); -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.portfolio-item.style-2:hover:after { transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0) skew(0deg); opacity: 1; }

/*portfolio Meta*/
.portfolio-meta-info ul { margin: 0; padding: 40px; display: flex; flex-wrap: wrap; width: 100%; }
.portfolio-meta-info ul li { list-style-type: none; width: 50%; display: inline-block; margin-bottom: 30px; border-bottom: 1px solid var(--themeht-border-light-color); padding-bottom: 30px; vertical-align: top; }
.portfolio-meta-info ul li:nth-last-child(-n + 2) { margin-bottom: 0; border-bottom: 0; padding-bottom: 0; }
.portfolio-meta-info ul li span.sub-title { font-family: var(--themeht-typography-secondary-font-family); font-weight: 600; color: var(--themeht-text-color); text-transform: uppercase; display: block; margin-bottom: 5px; }
.portfolio-meta-info ul li span.title { color: var(--themeht-secondary-color); font-weight: 700; }
.portfolio-meta-info { position: absolute; bottom: 0; right: 0; overflow: hidden; background-color: var(--themeht-white-color); border: 1px solid var(--themeht-border-light-color); border-top: 0; border-left: 0; width: 450px; }
.portfolio-meta-info h4 { color: var(--themeht-secondary-color); background-color: var(--themeht-primary-color); padding: 20px 30px; margin-bottom: 0; }

/* ------------------------
  Swiper Arrow 
------------------------*/
.swiper .swiper-button-prev { left: 0; }
.swiper .swiper-button-next { right: 0; }
.swiper .swiper-button-prev, .swiper .swiper-button-next { width: 60px; height: 60px; line-height: 60px; border: 1px solid var(--themeht-border-dark-color); display: inline-block; text-align: center; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; border-radius: 50%; background: var(--themeht-white-color); }
.swiper .swiper-button-prev:hover, .swiper .swiper-button-next:hover { background: var(--themeht-bg-dark-color); border-color: var(--themeht-bg-dark-color); }
.swiper .swiper-button-prev:after { content: '\F12F'; font-family: bootstrap-icons !important; }
.swiper .swiper-button-next:after { content: '\F138'; font-family: bootstrap-icons !important; }
.swiper .swiper-button-next:after, .swiper .swiper-button-prev:after { color: var(--themeht-text-color); font-size: 30px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; line-height: 60px !important; }
.swiper .swiper-button-prev:hover:after, .swiper .swiper-button-next:hover:after{color: var(--themeht-white-color);}
.swiper-nav-white .swiper-button-prev, .swiper-nav-white .swiper-button-next,
.swiper-nav-bottom-white .swiper-button-prev, .swiper-nav-bottom-white .swiper-button-next{border: 1px solid var(--themeht-border-light-color); background: var(--themeht-bg-dark-color);}
.swiper-nav-white .swiper-button-prev:hover, .swiper-nav-white .swiper-button-next:hover,
.swiper-nav-bottom-white .swiper-button-prev:hover, .swiper-nav-bottom-white .swiper-button-next:hover {background: var(--themeht-white-color); border-color: var(--themeht-white-color); }
.swiper-nav-white .swiper-button-next:after, .swiper-nav-white .swiper-button-prev:after,
.swiper-nav-bottom-white .swiper-button-next:after, .swiper-nav-bottom-white .swiper-button-prev:after {color: var(--themeht-white-color);}
.swiper-nav-white .swiper-button-prev:hover:after, .swiper-nav-white .swiper-button-next:hover:after,
.swiper-nav-bottom-white .swiper-button-prev:hover:after, .swiper-nav-bottom-white .swiper-button-next:hover:after{color: var(--themeht-text-color);}
.swiper-nav-bottom-white .swiper-button-next, .swiper-nav-bottom-white .swiper-button-prev,
.swiper-nav-bottom .swiper-button-next, .swiper-nav-bottom .swiper-button-prev { top: inherit; bottom: 0; }
.swiper-nav-bottom-white .swiper-button-prev,
.swiper-nav-bottom .swiper-button-prev { left: 50% !important; margin-left: -80px; }
.swiper-nav-bottom-white .swiper-button-next,
.swiper-nav-bottom .swiper-button-next { right: 50% !important; margin-right: -80px; }
.swiper-nav-bottom, .swiper-nav-bottom-white{margin-top: 120px;}


/* ------------------------
  Swiper Dot Pagination
------------------------*/
.swiper-pagination { position: inherit !important; text-align: center; -webkit-transition: 300ms opacity; -o-transition: 300ms opacity; transition: 300ms opacity; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 10; margin-top: 60px; }
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal>.swiper-pagination-bullets { bottom: 10px; left: 0; width: 100%; }
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 4px; }
.swiper-pagination-clickable .swiper-pagination-bullet { background-color: var(--themeht-bg-dark-color); border-radius: 50%; width: 5px; height: 5px; opacity: 1; display: inline-block; vertical-align: middle; }
.swiper-pagination-clickable .swiper-pagination-bullet-active { opacity: 1; width: 10px; height: 10px; }
.swiper-dots-white .swiper-pagination-clickable .swiper-pagination-bullet { background-color: var(--themeht-white-color); }
.swiper-nav-none .swiper-button-prev, .swiper-nav-none .swiper-button-next, .swiper-nav-none .swiper-pagination {display: none;}
.swiper-nav-dots .swiper-button-prev, .swiper-nav-dots .swiper-button-next,
.swiper-dots-white .swiper-button-prev, .swiper-dots-white .swiper-button-next{display: none;}
.swiper-nav-arrow .swiper-pagination, .swiper-nav-bottom .swiper-pagination, .swiper-nav-white .swiper-pagination, .swiper-nav-bottom-white .swiper-pagination {display: none;}


/* ------------------------
    Awards
------------------------*/
.award-items { position: relative; display: flex; justify-content: space-between; align-items: center; padding: 60px 0; border-bottom: 1px solid var(--themeht-secondary-color); transition: all .3s ease-in-out; }
.award-items .award-img { position: absolute; top: 20px; right: 12%; z-index: 1; visibility: hidden; opacity: 0; transform: translateY(40px); transform-origin: top center; border-radius: 100%; overflow: hidden; display: block; width: 200px; height: 200px; opacity: 1; transition: .35s cubic-bezier(.25, .46, .45, .94); -webkit-clip-path: circle(0 at 50% 50%); clip-path: circle(0 at 50% 50%); }
.award-items .award-img img { width: 100%; height: 100%; object-fit: cover; }
.award-items:hover .award-img { display: flex; justify-content: center; align-items: center; opacity: 1; transform: translateY(0) skewY(0) scaleZ(1); visibility: visible; transition-duration: .7s; z-index: 5; -webkit-clip-path: circle(50% at 50% 50%); clip-path: circle(50% at 50% 50%); }
.award-title span { position: absolute; bottom: 0; font-size: 100px; line-height: 1; color: transparent; -webkit-text-stroke: 1px var(--themeht-secondary-color); }
.award-items:hover .award-title span { color: var(--themeht-primary-color); }
.award-title { width: 35%; }
.award-desc { width: 45%; font-size: 20px; }
.award-desc p { margin-bottom: 0; }
.award-arrow { font-size: 100px; line-height: 1; color: transparent; -webkit-text-stroke: 1px var(--themeht-text-color); transform: rotate(-45deg); }


/* ------------------------
    Timeline
------------------------*/
.main-timeline:before { content: ""; display: block; width: 1px; height: 100%; background: var(--themeht-border-light-color); margin: 0 auto; position: absolute; left: 0; right: 0; }
.timeline-item { display: flex; flex-flow: row wrap; justify-content: center; align-items: center; padding-top: 10px; }
.timeline-item:nth-child(2n+2) .date-content { order: 3; }
.timeline-item:nth-child(2n+2) .timeline-icon { order: 2; left: 30px; }
.timeline-order-3 { order: 1; }
.main-timeline .timeline-icon { animation: rotate 10s linear infinite; width: 60px; height: 60px; position: relative; right: 30px; font-size: 30px; background: var(--themeht-secondary-color); display: flex; align-items: center; justify-content: center; color: var(--themeht-primary-color); border-radius: 50%; z-index: 9; }
.main-timeline .date-content { width: 50%; position: relative; }
.main-timeline .date-content:before { content: ""; width: 50%; height: 1px; background: var(--themeht-border-light-color); margin: auto 0; position: absolute; right: 10px; top: 0; bottom: 0; }
.timeline-item:nth-child(2n+2) .date-content:before { content: ""; width: 50%; height: 1px; background: var(--themeht-border-light-color); position: absolute; padding-right: 30px; margin-right: 50% !important; }
.main-timeline .date { font-family: var(--themeht-typography-secondary-font-family); display: flex; line-height: 1; font-weight: 700; font-size: 20px; color: var(--themeht-text-color); position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); align-items: center; justify-content: center; background: var(--themeht-white-color); box-shadow: 0 20px 60px rgba(92, 107, 149, .15); z-index: 1; text-align: center; padding: 20px; }
.main-timeline .timeline-content { padding: 20px 20px; }

@media (max-width:767px) {
    .timeline { flex-direction: column !important; }
    .main-timeline:before { margin-left: 1px; }
    .main-timeline .timeline-icon { margin: auto 2px;  order: 1; left: -1em; }
    .main-timeline .timeline-content { padding: 40px 30px; order: 3; }
    .timeline-item:nth-child(2n+2) .date-content { order: 2; }
    .timeline-item:nth-child(2n+2) .timeline-icon { order: 1; left: -1em; }
    .timeline-item:nth-child(2n+2) .date-content:before { width: 100%; }
    .timeline-item .date-content:before { width: 100%; }
    .timeline-item .date-content:before { content: ""; width: 100%; height: 2px; background: var(--themeht-border-light-color); position: absolute; top: 0; padding-right: 30px; bottom: 0; margin-right: 50% !important; }
    .main-timeline .date { width: 80px; height: 80px; font-size: 20px; }
    .main-timeline .date-content { order: 2;}
}
@media (max-width:350px) {
    .timeline-icon { visibility: hidden; }
    .main-timeline .date-content:before { visibility: hidden; }
    .date-content { left: -15px; }
}



/* ------------------------
  Splitting Text
------------------------*/
.splitting { --word-center: calc((var(--word-total) - 1) / 2); --char-center: calc((var(--char-total) - 1) / 2); --line-center: calc((var(--line-total) - 1) / 2); }
.splitting .word { --word-percent: calc(var(--word-index) / var(--word-total)); --line-percent: calc(var(--line-index) / var(--line-total)); }
.splitting .char { --char-percent: calc(var(--char-index) / var(--char-total)); --char-offset: calc(var(--char-index) - var(--char-center)); --distance: calc((var(--char-offset) * var(--char-offset)) / var(--char-center)); --distance-sine: calc(var(--char-offset) / var(--char-center)); --distance-percent: calc((var(--distance) / var(--char-center))); }
.splitting.ht-text-animated .char { animation-fill-mode: both; animation-duration: 1000ms; animation-delay: calc(200ms + calc(15ms * var(--char-index))); }
.splitting.ht-text-animated .char { animation-name: uicoreFadeInUp, uicoreFadeIn !important; animation-timing-function: cubic-bezier(.22, 1, .36, 1), cubic-bezier(0, 0, .2, 1); }


@keyframes uicoreFadeInUp {
    0% {
        transform: translate3d(0,40px,0);
    }
    100% {
        transform: translateZ(0);
    }
}

@keyframes uicoreFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes weight {
    from {
        font-weight: 100;
    }

    50% {
        font-weight: 600;
    }

    to {
        font-weight: 500;
    }
}


/* ------------------------
  Image Reavel Animation
------------------------*/
.ht-img-animation .elementor-widget-container, .ht-img-effect .ht-img-effect-image { visibility: hidden; position: relative; overflow: hidden; }
.ht-img-animation .elementor-widget-container img, .ht-img-effect .ht-img-effect-image img { transform-origin: left; }


/* ------------------------
  Split Slider
------------------------*/
.ht-img-split-scroller { display: flex; }
.split_images { position: absolute; top: 0; left: 0; width: 50%; height: 100vh; background-color: #c4dcd3; }
.split_images .split-img-block { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; opacity: 0; }
.split_images .split-img-block img { width: 100%; height: 100%; object-fit: cover; }
.split_images .split-img-block:first-child { opacity: 1; }
.split_texts { position: relative; width: 50%; margin-left: auto; }
.split_texts .split-text-block { display: flex; flex-direction: column; align-items: flex-start; justify-content: center; min-height: 100vh; padding: 6rem 4rem; box-sizing: border-box; }
.split-mobile-img { display: none; }
.split-number { font-size: 150px; -webkit-text-stroke: 1px var(--themeht-text-color); color: transparent; line-height: 1; margin-bottom: 20px; font-family: var(--themeht-typography-secondary-font-family); font-weight: 800; }
.split-content .counter h6 { margin-top: 0; }
.split-content-counter { margin: 50px 0; }
.sticky-panel-content { width: 100%; height: 100vh; overflow: hidden; display: flex; flex-wrap: nowrap; }
.sticky-panel { height: 100vh; flex: 1 0 100%; display: flex; justify-content: start; align-items: center; }
.sticky-panel-img { width: 50%; height: 100%; }
.sticky-panel-text { background: white; width: 50%; padding: 5rem; }
@media (min-width:1600px) {
    .split_texts .split-text-block, .sticky-panel-text { padding-right: 20rem; }
}


/* ------------------------
  Video
------------------------*/
a.video-popup { position: relative; display: inline-block; text-align: center; font-size: 80px; line-height: 200px; width: 100%; height: 100%; }
.center .video-box { width: 100%; height: 100vh; }
.bg-overlay::before { content: ""; position: absolute; left: 0; bottom: 0; height: 100%; width: 100%; background: linear-gradient(rgba(14, 43, 47, .8), rgba(14, 43, 47, .8)); }
.form-sec:before { content: ""; position: absolute; right: -10%; bottom: 0; height: 100%; width: 50% !important; background: var(--themeht-primary-color); transform: skewX(-20deg); }


/* ------------------------
  Keyframes Animation
------------------------*/

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translatex(-100%); }
}

@-webkit-keyframes smoothScroll {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes smoothScroll {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

@keyframes elastic1 {
     0% {
         transform: scale(1);
    }
     40% {
         transform: scale(1.4);
    }
     55% {
         transform: scale(1.27);
    }
     70% {
         transform: scale(1.36);
    }
     85% {
         transform: scale(1.31);
    }
     100% {
         transform: scale(1.33);
    }
}
 @keyframes elastic1_sp {
     0% {
         transform: scale(0.75);
    }
     40% {
         transform: scale(1.05);
    }
     55% {
         transform: scale(0.95);
    }
     70% {
         transform: scale(1.02);
    }
     85% {
         transform: scale(0.98);
    }
     100% {
         transform: scale(1);
    }
}

@keyframes rotate {
    100% { transform: rotate(1turn); }
}



/* ------------------------
Shop Page
------------------------*/
.product-link a i { display: inline-block; color: var(--themeht-text-color); font-size: 18px; vertical-align: middle; }
.product-link a {background: var(--themeht-bg-light-color); padding: 5px 20px; font-weight: 500; display: inline-block; overflow: hidden; color: var(--themeht-text-color); position: relative; text-align: center; }
.product-link a:hover { background: var(--themeht-primary-color); color: var(--themeht-secondary-color); }
.product-link a:hover i { color: var(--themeht-secondary-color); }

.form-check-input:checked { background-color: var(--themeht-primary-color); border-color: var(--themeht-primary-color); }
.widget-color [type="radio"]:checked, .widget-color [type="radio"]:not(:checked) { position: absolute; opacity: 0; pointer-events: none; }
.widget-color .form-check-label { width: 26px; height: 26px !important; padding: 0 !important; margin-bottom: 0; }
.widget-color .form-check-input[type="radio"]:checked + label, .widget-color .form-check-input[type="radio"]:not(:checked) + label, label.btn input[type="radio"]:checked + label, label.btn input[type="radio"]:not(:checked) + label { position: relative; padding-left: 35px; cursor: pointer; display: inline-block; height: 1.5625rem; line-height: 1.5625rem; transition: .28s ease; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.widget-color .form-check-input[type="radio"] + label::after, .widget-color .form-check-input[type="radio"] + label::before, label.btn input[type="radio"] + label::after, label.btn input[type="radio"] + label::before { content: ''; position: absolute; left: -2px; top: -2px; width: 30px; height: 30px; z-index: 0; transition: .28s ease; z-index: -1; border-radius: 0.25rem; }
.widget-color .form-check-input[type="radio"]:checked + label::after, label.btn input[type="radio"]:checked + label::after { transform: scale(1.02); }
.widget-color .form-check-input[type="radio"]:checked + label::after { background-color: var(--themeht-primary-color); }
.widget-size input[type="radio"] { visibility: hidden; position: absolute; }
.widget-size label { background: var(--themeht-bg-light-color); margin-bottom: 0; display: inline-block; height: 40px; min-width: 40px; text-align: center; font-size: 14px; color: var(--themeht-text-color); font-weight: 500; cursor: pointer; line-height: 40px; }
.widget-size input[type="radio"]:checked + label { background: var(--themeht-primary-color); color: var(--themeht-secondary-color); }
.widget-color li { list-style-type: none; display: inline-block; margin-right: 1%; margin-bottom: 20px; width: 22%; text-align: center; }
.widget-color li:nth-child(4n+4) { margin-right: 0; }
.widget-size li { list-style-type: none; display: inline-block; width: 20%; text-align: center; float: left; }
.widget-size li:nth-child(4n+4) { margin-right: 0; }

input.form-product { -moz-appearance: textfield; height: 40px !important; border: none; background: var(--themeht-white-color); text-align: center; width: 150px; border-top: 1px solid var(--themeht-border-light-color) !important; border-bottom: 1px solid var(--themeht-border-light-color) !important; color: var(--themeht-text-color); vertical-align: middle; }
.btn-product { background: none; color: var(--themeht-text-color); border: 1px solid var(--themeht-border-light-color); height: 40px; width: auto; padding: 0 10px; font-size: 13px; cursor: pointer; }
.cart-table td { padding: 20px; text-align: center; vertical-align: middle; color: var(--themeht-text-color); }